@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --fondopagina: #ffffff;
  --webstudio: #2196f3;
  --colortext: #212121;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
#service {
  background-color: var(--webstudio);
}
.navegacion__link {
  color: var(--colortext);
}
.logo {
  color: var(--webstudio);
  font-family: "Raleway";
  font-weight: "700";
  font-size: "26";
  line-height: "30.52";
  letter-spacing: "3";
}
h1 {
  color: var(--fondopagina);
}
.link {
  text-decoration: none;
}
a:any-link {
  text-decoration: none;
}
ul {
  list-style: none;
  list-style-type: disc;
}
li {
  text-align: webki;
}
.container {
  width: 1200px;
}
.section-hero {
  background-color: #212121;
}
.container-section-footer {
  background-color: var(--colortext);
}
.container-section-footer .icon {
  color: var(--webstudio);
  text-decoration: none;
  front-size: 16px;
  font-weight: 700;
}
.footer-direction {
  color: var(--fondopagina);
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
}
.container-section-footer {
  background-color: #212121;
  text-decoration: none;
  display: list-item;
}
